Open console and use:
<ul>
    <li>createUser(login,password);</li>
    <li>getUser(login,password);</li>
    <li>updateProfile(login, email, firstName, lastName, profileImgPath,
                                 facebook, age, sex, isPrivate);</li>
    <li>changeLogin(login, password, new_login);</li>
    <li>changePassword(login, password, new_password);</li>
    <li>deleteUser(login, password);</li>
    <li>searchByName(name);</li>
    <li>end of session - signOut()</li>
</ul>

<script type="text/javascript">
    

    var createUser = function(login,password){
        $.ajax({
        method: "POST",
        url: "http://localhost:3000/users/createUser",
        data: {Login: login, Password: password}
        }).success(function (data){
            console.log(data);
        })
    }

    var getUser = function(login,password){
        $.ajax({
        method: "POST",
        url: "http://localhost:3000/users/getUser",
        data: {Login: login, Password: password}
        }).success(function (data){
            console.log(data);
        })
    }

    var updateProfile = function(login, email, firstName, lastName, profileImgPath,
                                 facebook, age, sex, isPrivate){
        $.ajax({
        method: "POST",
        url: "http://localhost:3000/users/updateProfile",
        data: {Login: login, Email: email, FirstName: firstName, 
               LastName: lastName, ProfileImgPath: profileImgPath, Facebook: facebook, 
               Age: age, Sex: sex, IsPrivate: isPrivate}
        }).success(function (data){
            console.log(data);
        })
    }

    var changeLogin = function(login, password, new_login){
        $.ajax({
        method: "POST",
        url: "http://localhost:3000/users/changeLogin",
        data: {Login: login, Password: password, New_login: new_login}
        }).success(function (data){
            console.log(data);
        })
    }


    var changePassword = function(login, password, new_password){
        $.ajax({
        method: "POST",
        url: "http://localhost:3000/users/changePassword",
        data: {Login: login, Password: password, New_password: new_password}
        }).success(function (data){
            console.log(data);
        })
    }

    var deleteUser = function(login, password){
        $.ajax({
        method: "POST",
        url: "http://localhost:3000/users/deleteUser",
        data: {Login: login, Password: password}
        }).success(function (data){
            console.log(data);
        })
    }   

    var searchByName = function(name){
        $.ajax({
        method: "POST",
        url: "http://localhost:3000/users/searchByName",
        data: {Username: name}
        }).success(function (data){
            console.log(data);
        })
    }  

    var signOut = function(){
        $.ajax({
        method: "DELETE",
        url: "http://localhost:3000/sessions/destroy",
        data: {}
        }).success(function (data){
            console.log(data);
        })
    } 

    //createUser();
    //getUser();
    //updateProfile();
    //changeLogin();
    //changePassword();
    //deleteUser();
    //searchByName();
    
</script>