<form>
	<div class="form-group">
		<label>Type of search items</label>
		<div class="radio">
			<label>
				<input type="radio" name="optionsRadios" value="Solutions"> Solutions 
			</label>
			<label>
				<input type="radio" name="optionsRadios" value="Projects"> Projects
			</label>
		</div>
	</div>
	<div class="form-group">
		<label>Languages</label>
		<div class="checkbox">
			<label>
				<input type="checkbox"> Java
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"> C#
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"> Ruby
			</label>
		</div>
	</div>	
	<div class="form-group">
		<label>Frameworks</label>
		<div class="checkbox">
			<label>
				<input type="checkbox"> Angular JS
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"> .NET
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"> Ruby on Rails
			</label>
		</div>
		<div class="checkbox">
			<label>
				<input type="checkbox"> Drupal
			</label>
		</div>
	</div>
</form>