<div class="container">
	<!-- .row -->
	<div class="row">
		<!-- .col-md-12 -->
		<div class="col-md-offset-3 col-md-7 search-row">
			<form class="form-inline search-form">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="search">
				</div>
				<button type="submit" class="btn btn-ruby">
						<i class="fa fa-search"></i>
				</button>
			</form>
		</div>
	</div><!-- /.row -->
	<!-- .row -->
	<div class="row well">
		<!-- .col-md-9 -->
		<div class="col-md-9 border">
			<!-- <div class="row"> -->
			<div class="col-md-12 search-item  border">
				<!-- <div class="row"> -->
				<div class="col-md-1 answers text-center">
					4<br>answers
				</div>
				<div class="col-md-11 border">
					<h4 class="item-title">CORS in .NET</h4>
					<p>
						It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
					</p>
					<div class="row">
						<div class="col-md-4">
							<div class="item-tags">
								<div class="tag">.net</div>
								<div class="tag">c#</div>
								<div class="tag">cors</div>
							</div>
						</div>
						<div class="col-md-4 pull-right ">
							<div class="author"><b>asked</b>: deadlyBob</div>
						</div>
					</div>
				</div>
				<!-- </div> -->
			</div>
			<!-- </div> -->
		</div><!-- /.col-md-9 -->
		<!-- .col-md-3 -->
		<div class="col-md-3 filter-column border">
			<div ng-include="'modules/search/views/filter-form.html'"></div>
		</div><!-- /.col-md-3 -->
	</div><!-- /.row -->
</div>