<div class="container">
	<!-- .row -->
	<div class="row">
		<!-- .col-md-12 -->
		<div class="col-md-offset-3 col-md-7 search-row">
			<form class="form-inline search-form">
				<div class="form-group">
					<input type="text" class="form-control" placeholder="search">
				</div>
				<button type="submit" class="btn btn-ruby">
						<i class="fa fa-search"></i>
				</button>
			</form>
		</div>
	</div><!-- /.row -->
	<!-- .row -->
	<div class="row well">
		<!-- .col-md-9 -->
		<div class="col-md-12 ">
			<!-- <div class="row"> -->
			<div class="col-md-12 search-item  border">
				<!-- <div class="row"> -->
				<div class="col-md-1 answers text-center">
					4<br>answers
				</div>
				<div class="col-md-11 border">
					<h4 class="item-title">Having troubles with CORS in .NET</h4>
					<p>
						I am trying to support CORS in my .c# application that uses the .NET web framework. I have read a Google group discussion about how to handle this, and read a few articles about how...
					</p>
					<div class="row">
						<div class="col-md-4">
							<div class="item-tags">
								<div class="tag">.net</div>
								<div class="tag">c#</div>
								<div class="tag">cors</div>
							</div>
						</div>
						<div class="col-md-4 pull-right ">
							<div class="author"><b>asked</b>: deadlyBob</div>
						</div>
					</div>
				</div>
				<!-- </div> -->
			</div>
			<!-- DUMMY -->
			<div class="col-md-12 search-item  ">
				<!-- <div class="row"> -->
				<div class="col-md-1 answers text-center">
					7<br>answers
				</div>
				<div class="col-md-11 border">
					<h4 class="item-title">CORS requests causing stack trace errors</h4>
					<p>
						I am bit new to webAPi and I want to implement CORS (Cross Origin Resource Sharing) on Web API. I am referring to this Microsoft link. They install a Nuget package using PM> Install-Package … Microsoft.AspNet.Cors -Version 5.0.0-rc1 -Pre However...
					</p>
					<div class="row">
						<div class="col-md-4">
							<div class="item-tags">
								<!-- <div class="tag">.net</div> -->
								<!-- <div class="tag">c#</div> -->
								<div class="tag">cors</div>
							</div>
						</div>
						<div class="col-md-4 pull-right ">
							<div class="author"><b>asked</b>: romchykZV</div>
						</div>
					</div>
				</div>
				<!-- </div> -->
			</div>
			<div class="col-md-12 search-item  border">
				<!-- <div class="row"> -->
				<div class="col-md-1 answers text-center">
					3<br>answers
				</div>
				<div class="col-md-11 border">
					<h4 class="item-title">Server issues using cors in .net</h4>
					<p>
						I have some trouble make PUT and DELETE CORS request to Web API on other domain. I've coded API by tutorial http://www.asp.net/web-api/overview/security/enabling-cross-origin-requests-in-web-api … to load resource: No 'Access-Control-Allow-Origin' header is present on the requested resource...
					</p>
					<div class="row">
						<div class="col-md-4">
							<div class="item-tags">
								<div class="tag">.net</div>
								<!-- <div class="tag">c#</div> -->
								<div class="tag">cors</div>
							</div>
						</div>
						<div class="col-md-4 pull-right ">
							<div class="author"><b>asked</b>: OsanJ</div>
						</div>
					</div>
				</div>
				<!-- </div> -->
			</div>
			<div class="col-md-12 search-item  border">
				<!-- <div class="row"> -->
				<div class="col-md-1 answers text-center">
					0<br>answers
				</div>
				<div class="col-md-11 border">
					<h4 class="item-title">Post request not working correctly error: cors request not allowed</h4>
					<p>
						Remove the EnableCors attribute from the controller and change the cors config in the WebApiConfig class from config.EnableCors(); to var cors = new EnableCorsAttribute … ("*", "*", "*"); config.EnableCors(cors); If get the following PUT http://localhost:59365/api/userevents 405 (Method Not Allowed) OPTIONS http://localhost:59365/api/userevents HTTP/1.1 Host: localhost:59365 Connection …
					</p>
					<div class="row">
						<div class="col-md-4">
							<div class="item-tags">
								<div class="tag">.net</div>
								<div class="tag">c#</div>
								<div class="tag">cors</div>
							</div>
						</div>
						<div class="col-md-4 pull-right ">
							<div class="author"><b>asked</b>: Chaleng Volodya</div>
						</div>
					</div>
				</div>
				<!-- </div> -->
			</div>
			<!-- /DUMMY -->
			<!-- </div> -->
		</div><!-- /.col-md-9 -->
		<!-- .col-md-3 -->
		<!-- <div class="col-md-3 filter-column border">
			<div ng-include="'modules/search/views/filter-form.html'"></div>
		</div> --><!-- /.col-md-3 -->
	</div><!-- /.row -->
</div>