<!-- .container -->
<div class="container proj-profile-container">
	<!-- .row -->
	<div class="row">
		<!-- .col-md-3 -->
		<div class="col-md-3 ">
			<img src="http://placehold.it/260x200">
		</div><!-- /.col-md-3 -->
		<!-- .col-md-9 -->
		<div class="col-md-9 ">
			<h2>Neaty Schedule</h2>
			<div class="col-md-2 ">
				<div class="property-name">Status:</div>
				<div class="property-name">Organization:</div>
				<div class="property-name">Technologies:</div>
				<div class="property-name">Area:</div>
			</div>
			<div class="col-md-5 ">
				<div class="property-value">Ongoing</div>
				<div class="property-value">All Mighty Developers</div>
				<div class="property-value">C#, Javascript, .NET, Angular, Bootstrap</div>
				<div class="property-value">Time Managing</div>
			</div>
		</div><!-- /.col-md-9 -->
	</div><!-- /.row -->
	<!-- .row -->
	<div class="row">
		<!-- .col-md-12 -->
		<div class="col-md-12 proj-overview ">
			<div class="well">
				<h2 class="ruby-text">Overview</h2>
				<p class="">
					A schedule or a timetable, as a basic time-management tool, consists of a list of times at which possible tasks, events, or actions are intended to take place, or of a sequence of events in the chronological order in which such things are intended to take place. The process of creating a schedule - deciding how to order these tasks and how to commit resources between the variety of possible tasks - is called scheduling, and a person responsible for making a particular schedule may be called a scheduler. Making and following schedules is an ancient human activity.
					Some scenarios associate "this kind of planning" with learning "life skills". Schedules are necessary, or at least useful, in situations where individuals need to know what time they must be at a specific location to receive a specific service, and where people need to accomplish a set of goals within a set time period.
				</p>
			</div>
		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
	<!-- .row -->
	<div class="row">
		<!-- .col-md-12 -->
		<div class="col-md-12 proj-manage-block">
			<div>
				<ul class="nav nav-tabs">
					<li class="active"><a href="#dev-steps" data-toggle="tab" class="ruby-text">Developing Steps</a></li>
					<li><a href="#prob-enc" data-toggle="tab" class="ruby-text">Problems encoutered</a></li>
					<!-- <li><a href="#res" data-toggle="tab" class="ruby-text">Helping Resources</a></li> -->
				</ul>
			</div>

			<div class="tab-content">
				<div class="tab-pane active" id="dev-steps">
					<h3>Developing Steps</h3>
					<ul class="step-list">
						<li>Choosing Technologies</li>
						<li>Creating Task</li>
						<li>Building Structure</li>
						<li>Creating Database</li>
					</ul>
				</div>
				<div class="tab-pane" id="prob-enc">
					<h3>Problems Encountered</h3>
				</div>
				<!-- <div class="tab-pane" id="res">
					<h3>Helping Resources</h3>
				</div> -->
			</div>
		</div><!-- /.col-md-12 -->
	</div><!-- /.row -->
</div>
<!-- /.container