<div class="container-fluid">
	<div class="col-md-12 border">
		<!-- <h3>Hello, from main page! dsada</h3> -->
		<!-- Header -->
		<div class="row mp-header">
			<div class="col-md-12">
				<!-- Explanation row -->
				<div class="row">
					<div class="col-md-offset-5 col-md-2 logo-block">
						<i class="fa fa-share-alt-square icon"></i>
					</div>
					<!-- <div class="col-md-4 presentation-block">
						<ul>
							<li>
								<b>ShareExp</b> is a service designed to contain knowledge about different projects and solutions.
							</li>
							<li>
								Fellow developers can use it for more efficient development in alike projects, and quick overcoming of bugs or other development obstacles.
							</li>
						</ul>
					</div> -->
				</div><!-- /Explanation row -->
				<!-- Search row -->
				<div class="row">
					<div class="col-md-offset-3 col-md-9">
						<form class="main-search-form form-horizontal">
							<div class="form-group">
								<div class="col-md-7 column">
									<input type="text" class="form-control" placeholder="Search">
								</div>
									<button type="submit" class="btn btn-ruby">
								<i class="glyphicon glyphicon-search"></i>
							</button>
							</div>
						</form>
					</div>
				</div><!-- /Search row -->
			</div>	
		</div>
		<!-- /Header -->

		<!-- Content -->
		<div class="row">
			<div class="col-md-12 well">
				<div class="col-md-3 topic-column">
					<div class="topic-block">
						<h3>Javascript</h3>
					</div>
				</div>
				<div class="col-md-3 topic-column">
					<div class="topic-block">
						<h3>Ruby</h3>
					</div>
				</div>
				<div class="col-md-3 topic-column">
					<div class="topic-block">
						<h3>Python</h3>
					</div>
				</div>
				<div class="col-md-3 topic-column">
					<div class="topic-block">
						<h3>C#</h3>
					</div>
				</div>
				<div class="col-md-3 topic-column">
					<div class="topic-block">
						<h3>MongoDB</h3>
					</div>
				</div>
				<div class="col-md-3 topic-column">
					<div class="topic-block">
						<h3>Java</h3>
					</div>
				</div>
				<div class="col-md-3 topic-column">
					<div class="topic-block">
						<h3>MySQL</h3>
					</div>
				</div>
				<div class="col-md-3 topic-column">
					<div class="topic-block">
						<h3>C++</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- /Content -->
	</div>
</div>	